$PrimaryColor: #5a1eff;
$PrimaryColorLight: #a584ff;
$PrimaryColorDark: #1d006b;

$SecondaryColor: #008099;
$SecondaryColorLight: #22a3bd;
$SecondaryColorDark: #005676;
$SecondaryColor20: #e1f7ff;

$PrimaryBlack: #000;
$PrimaryBlack80: #323232;

$PrimaryGray: #595959;
$PrimaryGray80: #8b8a87;
$PrimaryGray60: #aba7a5;
$PrimaryGray40: #c5c4c3;
$PrimaryGray20: #e7e7e7;

$PrimaryWhite: #fff;